/* General styling for the body */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255); /* White background */
  background-image: url("../resources/images/start.Background.gif");
  background-size: contain; /* Maintain aspect ratio and fit image */
  background-repeat: no-repeat; /* Avoid repeating the background */
  background-position: center; /* Center the background */
  font-family: Arial, sans-serif;
  overflow: hidden; /* To prevent scrolling */
}

/* Footer links */
.footer-links {
  text-align: center;
  margin-top: 20px;
}

.footer-links button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.content {
  padding: 20px;
  font-size: 18px;
}

audio {
  display: none; /* Hides the audio player from view */
}

/* Heading styling */
#start-screen h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}
.hidden {
  display: none;
}

/* Paragraph styling */
#start-screen p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

/* Container for buttons */
.button-container {
  display: flex;
  flex-direction: row; /* Align buttons horizontally */
  justify-content: center; /* Center the buttons */
  gap: 20px; /* Space between buttons */
  margin-top: 200px; /* Space from the top */
  width: 50%; /* Full width */
  
}

/* Button styling */
#start-button, #Multiplayer-button {
  display: center;
  padding: 8px 15px; /* Smaller padding */
  font-size: 12px; /* Smaller font size */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 100px; /* Smaller width */
}
/* Start button styles */
#start-button {
  background-color: #4CAF50; /* Green background */
}

#start-button:hover {
  background-color: #45a049;
}

/* Multiplayer button styles */
#Multiplayer-button {
  background-color: #21a1d8; /* Blue background */
}

#Multiplayer-button:hover {
  background-color: #458fa0;
}

/* Result message styling */
#result-message {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
